* {
    padding: 0;
    margin: 0;
}

body {
    background: #301d55;
}

.container {
    background: #161721;
    max-width: fit-content;
    padding-top: 20px;
}

.listContainer {
display: flex;
justify-content: flex-end;
gap: 20px;

}

.listContainer button {
    height: 55px;
    width: 110px;
}

.taskinput {
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.list {
    display: flex;
flex-direction: row;
gap: 40px;
margin-top: 20px;}

.deleteList {
    height: 35px;
    width: 70px;
}